<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="Cloudsmith" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="OrchardCore">
			<package pattern="OrchardCore.*" />
		</packageSource>
		<packageSource key="NuGet">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>

	<disabledPackageSources />
</configuration>
